<% include ./blocks/header %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center" style="margin: 40% 0% 40% 0%;">
      <h2 style="margin: 20% 0% 15% 0%;">404 Not Found</h2>
      <p>
        Uh Oh! Looks like you've ended up somewhere you're not meant to be.<br>
        You can click <a href="javascript: history.go(-1)">here</a> to go back.
      </p>
    </div>
  </div>
</div>